@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');
main#container {
    color: white;
    display: flex;
    justify-content: flex-end;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
main#container section{
    width: 30%;
    height: 100vh;
}
main#container section article{
    background-color: black;
    width: calc(100% - 20px);
    margin: 10px;
    padding: 10px;
}
main#container section article h3{
    text-align: center;
    margin: 3px;
}
main#container section article figure{
    margin: 0;
    width: 100%;
}
main#container section article figure img{
    width: 100%;
    height: auto;
}
.sectionFooter {
    display: flex;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer {

    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 0.8em;
    margin: 5em 0em 0 1em;
    background-color: cornflowerblue;
    width: 120%;
    padding: 0;
    margin-left: -6em;
}
.titleFooter {
    margin: 0;
    text-align: center;
}

.logoFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoFooter div img {
    width: 2em;
    height: 2em;
    margin-right: 2em;
    
}