* {
    box-sizing: border-box;
}

body {
    background: url("assets/pictures/background/imprimante.png");
}

.main {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;
}

.imageBody1, .imageBody2, .imageBody3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.imageBody1 {
    background-image: url("assets/pictures/background/imprimante.png");
}


.imageBody2 {
    background-image: url("assets/pictures/background/filament.png");
}


.imageBody3 {
    background-image: url("assets/pictures/background/realisation.png");
}

.hautDePage {
    display: flex;
    flex-direction: row;
    height: 70%;
}

.cadrePhoto {
    border: 8px groove black;
    position: relative;
    width: 800px;
    height: 600px;
    margin: 4em 0 30px 11%;
    overflow: hidden;
    background-color: black;
}

.photo {
    align-self: auto;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin: 14em 0 0 5%;
}

label {
    font-size: 1.5em;
    border: 1px solid rgb(137, 137, 240);
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 90%;
    transition: 0.4s;
    font-family: 'NanumPen', sans-serif;
    box-shadow: var(--box-shadow-blue);
}

label:hover {
    background-color: rgb(152, 152, 243);
    color: whitesmoke;
}


.labelboutton {
    background-color: rgb(137, 137, 240);
    color: whitesmoke;
}

input {
    display: none;
}

.icon {
    display: none;
}

.basDePage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}


.carousel__cell {
    display: block;
    overflow: hidden;
    border: var(--border);
    opacity: 0.3;
    border-radius: 10%;
    transition-duration: 0.4s;
    height: 100px;
    width: 95px;
    margin: 3px;
    position: relative;
    z-index: 2;
}

.carousel__cell:hover {
    opacity: 1;
    transform: scale(1.4);
}

.carousel__cell.previous,
.carousel__cell.next {
    position: relative;
    z-index: 1;
    opacity: 0.6;
    transform: scale(1.2);
}

.carousel1 {
    display: none;
}

.carousel2 {
    display: none;
}

.carousel3 {
    display: none;
}

.apparait {
    display: flex;
}


@media all and (max-width: 1250px) {
    .hautDePage {
        flex-direction: column;
        margin: 0;
    }

    .cadrePhoto {
        margin: 2em auto 30px;
    }

    .buttons {
        flex-direction: row;
        justify-content: space-around;
        margin: 2em 0 0 0;
    }
}

@media all and (max-width: 900px) {

    .carousel__cell {
        opacity: 0.6;
    }
    .imageBody1, .imageBody2, .imageBody3 {
        background-image: none;
    }

    .hautDePage {
        flex-direction: column;
        margin: 0;
    }

    .cadrePhoto {
        width: 500px;
        height: 400px;
        margin: 2em auto 20px;
    }

    .buttons {
        flex-direction: row;
        margin: 2em 0 0 0;
    }
}

@media all and (max-width: 645px) {
    .imageBody1, .imageBody2, .imageBody3 {
        background-image: none;
    }

    .hautDePage {
        flex-direction: column;
        margin: 0;
    }

    .buttons {
        flex-direction: row;
        margin: 2em 0 0 0;
    }

    .cadrePhoto {
        width: 400px;
        height: 267px;
        margin: 2em auto 20px;
    }

    label {
        width: 78px;
        height: 78px;
        /* overflow: hidden; */

    }

    .icon {
        display: block;
        height: 58px;
        width: 58px;
        padding: 0;
        margin: -15px;
    }

    .carousel__cell {
        opacity: 0.7;
        margin-bottom: 2em;
    }

    .spanIcon {
        visibility: hidden;
    }
}