body {
    width: 100vw;
    height: 85vh;
    
}

.menuPrinters {
    display: flex;
    justify-content: space-around;
}

.divmenuprinters {
   
    width: 50%;
}
.iconMenuPrinters {
    height: 7em; 
    margin: 0 4em;
}

/* .cercle{
    height: 0;
    width: 0;
    margin-left: -25%;
    margin-top: -10%;
    overflow: hidden;
    border-radius: 50%;
    background-image: url('assets/pictures/3D-printMenu.png');
    background-repeat: no-repeat;
    background-color: rgba(52, 182, 255);
    z-index: -10;
    transition: height 0.5s, width 0.5s;
}

.zoom {
    position: absolute;
    margin-left: -25%;
    margin-top: -10%;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    z-index: 9;
} */
.main {
    margin-top: 2em;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;

}
.fdm {
    display: none;
}
.resine {
    display: none;
}

.troisDP{
    display: none;
}


.apparait {
    display: block;
}
.fdmEnfant {
    opacity: 0;
    transition: opacity 5s linear 1s;
}
.resineEnfant {
    opacity: 0;
    transition: opacity 5s linear 1s;
}

.troisDPEnfant {
    opacity: 0;
    transition: opacity 5s linear 1s;
}
.apparaitEnfant {
    opacity: 1;
}
.teteText {
    border: grey 2px solid;
    border-radius: 20px;
    background-color: rgb(221, 221, 221);
    text-align: center;
    padding: 10px;
    line-height: 2em;
    margin-bottom: 3em;
}

.hautTexte , h3 {
    border: grey 2px solid;
    border-radius: 20px;
    background-color: rgb(221, 221, 221);
    text-align: center;
    padding: 10px;
    margin-bottom: 3em;
    line-height: 2em;
}

.listeFDM {
    display: flex;
    justify-content: space-around;
    margin-top: 5em;
}

.listeFDM li {
    list-style: none;
    padding: 1em;
    border: grey 2px solid;
    border-radius: 20px;
    background-color: rgb(221, 221, 221);
}

.boxPicFDM {
    display: flex;
    justify-content: space-around;
}

.boxPicFDM img {
    /* position: relative; */
    margin-top: 4em;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: 0.9s ;
}

.boxPicFDM img:hover {
    /* position: absolute; */
    margin-top: -20em;
    /* margin-left: 10%; */
    padding: 2em;
    align-items: center;
    border-radius: 20%;
    width: 30em;
    height: 30em;
    transform: rotate(720deg);
}

.finTexte {
    height: 5em;
    padding-bottom: 5em;
}

/* ******************* FOOTER ********************************* */
.sectionFooter {
    display: flex;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer {

    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 0.8em;
    margin: 5em 0em 0 1em;
    background-color: cornflowerblue;
    width: 120%;
    padding: 0;
    margin-left: -6em;
}

.titleFooter {
    margin: 0;
    text-align: center;
}

.logoFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoFooter div img {
    width: 2em;
    height: 2em;
    margin-right: 2em;

}