body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
}

.navMenu {
    display: flex;
    /* justify-self: left; */
    margin: 0;
    padding: 0;
}

.menu {

    position: absolute;
    margin: 10px;
    list-style: none;
    border-radius: 30px;
    background-color: wheat;
    height: 30px;
    width: 90px;
    overflow: hidden;
    transition: 0.6s;
}

.menu:hover {
    /* height: 280px;
    width: 160px; */
    animation: deroule 0.6s linear both;
}

.item {
    margin: 40px 0;
    padding: 0px;
    text-align: left;
}

.item a:hover {
    color: deeppink;
    font-size: 15px;
    font-weight: bold;
}

.menuItem {
    margin: 5px 0;
    text-align: left;
}
@keyframes deroule{
    0%{ width: 90px;
        height: 30px;}
    33%{width: 160px;
        height: 30px;}
    50%{width: 160px;
        height: 160px;}
    100%{width: 160px;
        height: 280px;}
}